.react-todo {
  width: 600;
  height: 600;
  align: center;
  margin:0 auto;
  margin-top: 60;

  .title{
      border-radius: 10px;
      background: #ADADAD;
      margin-left: 30;
      padding: 20 0 0 135;
      width: 400;
      height: 50;
      align: center;
      vertical-align: center;
      font-family: cursive;
      font-size: 20;
      font-weight: bold;
  }

  .title-space{
    padding: 20;
  }

  .todo-section{
    background-color: #41B3A3;
    width: 600;
    height: 700;
    border-radius: 10px;
  }

  .add-item{
    padding: 60 0 0 200;
  }

  .item-input{
    border-radius: 8px;
    padding: 10;
    margin-right: 15px;
  }

  .button-color{
    border-radius: 5px;
    padding: 10;
    background-color: #ADADAD;
  }

  .list-of-items{
      margin: 40 0 0 30;
      padding: 20;
      border-radius: 10px;
      background: #E3E2DF;
      width: 500;
      height: 500;
  }
}
